@CHARSET "UTF-8";

.activity_box_2, .activity_box_4 {
	box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.2);
	margin-right: 0.5%;
	margin-bottom: 10px;
}

.activity_box_2 {
	width: 16.25%;
}

.activity_box_2:nth-child(6), .activity_box_2:nth-child(12), .activity_box_4:nth-child(3) {
	margin-right: 0%;
}

.activity_box_4 {
	width: 33%;
}

.activity_box_12 {
	box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.2);
	margin-bottom: 10px;
}

@media (max-width:1200px){
	.activity_box_2, .activity_box_4 {
		box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.2);
		width: 33%;
		margin-right: 0.5%;
		float: left;
	}
	
	.activity_box_2:nth-child(3), .activity_box_2:nth-child(6), .activity_box_4:nth-child(3) {
		margin-right: 0%;
	}
}

@media (max-width:800px){
	.activity_box_2, .activity_box_4 {
		box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.2);
		width: 100%;
		margin-right: 0%;
	}	
}

.row {
	margin: 0;
}

.channels {
	clear: left;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	width: 100%;
	padding-left: 0px;
}

.channel {
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	padding: 0 0.5em 1em;
}

.channel_header:AFTER, .channel_header:BEFORE {
	content: " ";
	display: table;
}

.channel_header:AFTER {
	clear: both;
}

.channel_header img {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.frontPagePrograms {
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	padding: 0;
}

.programDetails {
	margin-bottom: 10px;
}

.programStartTime, .channelLogo {
	width: 45px;
	float: left;
}

.programStartDateTime {
	padding-left: 45px;
}

.programName {
	padding-left: 45px;
	font-weight: bold;
}

.programDescription {
	padding-left: 45px;
	font-style: italic;
}

.blocks, .block_programs {
	clear: both;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.block {
	border-top: 1px solid black;
	min-height: 1em;
}

#calendar {
	border: 1px solid black;
	border-radius: 1em;
}

#calTextBox {
	height: 50px;
}

/* Suosikkiohjelmien ja kanavien muokkaus */
.favouriteProgram > .name, .channel > .name {
	float: left;
	width: 15%;
	border-bottom: 1px solid black;
	margin: 10px 0;
}

.favouriteProgram > .actions, .channel > .actions {
	float: left;
	border-bottom: 1px solid black;
	margin: 10px 0;
}

.clearFloat {
	clear: both;
}
